{% extends 'base.html' %}

{% block title %}Authors{% endblock title %}

{% block content %}
<h1>Authors Page</h1>
<p align='justify'>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae earum aspernatur eos autem ullam aut cum ipsa non,
    sint, distinctio a laboriosam id porro explicabo? Quam facere possimus laudantium expedita.
    Odio cupiditate sunt, temporibus, cumque unde soluta ex officiis nemo quidem voluptatibus voluptas voluptatem,
    praesentium explicabo nisi quas minus accusamus eius adipisci corporis. Doloribus minus consectetur maxime dolorum
    suscipit deserunt.
    Exercitationem eum saepe fugit amet dolorem rerum harum? In, ex. Veritatis doloremque reprehenderit consequuntur,
    exercitationem nesciunt provident, sunt tempora asperiores dignissimos iure modi maiores saepe, pariatur aut
    voluptates numquam reiciendis!
    Deserunt praesentium fugiat beatae amet natus! Quod nisi perferendis odio cum eius iusto dolorum a voluptatibus,
    rerum corporis. Recusandae voluptates inventore expedita repellat corrupti tempora libero dolore accusantium numquam
    atque?
    Doloribus necessitatibus veritatis natus ipsa mollitia minima odio dolores numquam praesentium quam ab quis tenetur,
    a tempore culpa atque. Voluptatum placeat, aspernatur quibusdam aliquid illo odit saepe itaque minus alias.
</p>
{% endblock content %}